@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(35, 35, 35);
  font-family: 'Kanit', sans-serif;
}
.code-box{
  overflow-y: scroll;
  overflow-x: hidden;
  width : 100%;
  height : 700px;
  border : 1px solid rgb(61, 61, 61)
}
.containers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
  height: auto;
  padding: 2em;
  /* background-color: #fff; */
}
.top-container{
  width: 100%;
  height: 80px;
  /* background-color: wheat; */
  padding: 2em;
  display: flex;
  border-bottom: 0.5px solid rgb(68, 68, 68);
  position: relative;
}
.text-top-container{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.button{
  width: 80px;
  height: 45px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 15px;
}
.iframe{
  border: 0px;
  background-color: #fff;
}
.container-overflow{
  overflow-x: hidden;
  width : 100%;
  height : 700px;
  position: relative;
}

.overlay {
  background-color: rgb(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modalcontainer {
  max-width: 800px;
  width: 100%; 
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px #000;
}

.modalLeft {
  width: 100%;
  background-color: #fff;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.title:hover+.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.content{
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

p, h1, h5 {
  background-color: #fff;
}